@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  background: whitesmoke

}

.slick-slide>div {
  margin: 0 10px;
}

.cust {
  background: black;
  position: relative;
}

.banner {
  background: url(./assets/image.webp)center/ cover no-repeat;

}


a {
  text-decoration: none;
}

.scrollsdown::-webkit-scrollbar {
  height: 10px;
}

.input {
  width: 100%;
  padding: 0.9rem;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  color: black
}

.input:focus {
  outline: none;
}
